*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start; /*always use this function with the child element */
}

/* always use scroll-snap-type with the parent element */
/* here container is the parent element */
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one{
    background-color: aqua;
}
.two{
    background-color: blueviolet;
}
.three{
    background-color:red;
}
.four{
    background-color: orchid
}
.five{
    background-color:olive;
}