* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 20px;
  box-shadow: 0 0 10px #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-image: url("./images/pexels-stein-egil-liland-3384501.jpg");
  background-size: 100% 100%;
}

h1 {
  /* background-color: 	#2b235a; */
  /* background-image: linear-gradient(#BA8DB8,#9E82B3); */
  color: #f3f3f3;
  text-align: center;
  padding: 1rem;
}

header {
  /* background-color: #2b235a; */
  /* background-image: linear-gradient(#9E82B3,#686396); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  border: 2px solid #f3f3f3;
  border-radius: 20px;
}

form {
  outline: none;
  border: none;
  width: 100%;
}

.search {
  outline: none;
  background: transparent;
  border: none;
  color: white;
  border-radius: 25px;
  width: 100%;
  padding: 0.7rem;
}

.search::placeholder {
  color: #f3f3f3;
}

.searchBtn {
  background: transparent;
  border: none;
  font-size: 1.75rem;
  color: #f3f3f3;
  cursor: pointer;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff57;
  /* background-image: linear-gradient(90deg,#0052D4,#4364F7,#6FB1FC); */
  background-size: 100% 100%;
  border-radius: 30px;
  box-shadow: 0 0 5px #313131b9;
  position: relative;
}

.temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wind,
.humidity,
.pressure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.7rem;
}

.title {
  font-size: 20px;
  position: absolute;
  top: 7px;
}

h5,
h2 {
  text-align: center;
  margin: 0.7rem;
}
