*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    position: fixed;
    top: 10px;
}

button{
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}