* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 67, 70);
  color: white;
}

.container {
  background-color: #002b2e;
  width: 400px;
  max-height: 500px;
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.ip-box {
  margin: 30px 0;
}

.ip-box input {
  min-width: 75%;
  margin: 10px 3px 0 0;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.ip-box button {
  width: 20%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #002b2e;
  padding: 5px;
  margin: 10px 0 3px 0;
  color: white;
  cursor: pointer;
}

.ip-box button:hover {
  background-color: rgb(0, 67, 70);
}

.check-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.check-list input {
  margin: 0 30px 10px 0;
}

.op-box {
  width: 300px;
  height: 30px;
}

.op-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.error-box {
  background-color: white;
  border-radius: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
  padding: 15px;
  width: 50%;
}
