*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    position: fixed;
    top: 10px;
    left: 10px;
    color: palevioletred;
}

.container{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

button{
    font-size: 20px;
    border: 3px solid rgb(233, 79, 130);
    border-radius: 5px;
    background-color: palevioletred;
    color: white;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: palevioletred;
    border-color: palevioletred;
    transition: 0.3s ease-in-out;
}

.toast{
    background-color: palevioletred;
    padding: 1rem;
    margin: 0.5rem 0;
    color: white;
    border-radius: 3px;
}