* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #1e1f33;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #66a2c4;
  background-color: #292847;
  font-size: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
}

form{
    outline: none;
    border: none;
    width: 100%;
}

.movie-search {
  outline: none;
  background: transparent;
  border: 1.5px solid #474670;
  color: #c2c0e9;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  padding: 1rem;
}

input:focus{
    background-color: #3d3e53;
}

button {
  background: transparent;
  border: none;
  color: #8e8db6;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

h2,.count {
  color: #66a2c4;
  margin-bottom: 0;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.movie-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-tiles {
  background-color: #292847;
  width: 250px;
  /* height: 500px; */
  margin: 1.5rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.movie-tiles img {
  width: 100%;
  /* height: 500px; */
  border-radius: 10px 10px 0 0;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}

.info h4 {
  color: white;
  font-size: 0.8rem;
}

.info span {
  background-color: #1e1f33;
  color: white;
  padding: 0.3rem;
  font-size: 0.8rem;
}

.info span.green {
  color:#82d831;
}

.info span.orange {
  color: #ee891d;
}

.info span.red {
  color: #ec2d0f;
}

.overview{
    max-height: 100%;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    text-align: justify;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    font-size: 0.8rem;
    transform: translateY(103%);
    opacity: 0;
    overflow: auto;
}

.movie-tiles:hover .overview{
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.page-container{
  margin: 1.5rem 2.5rem;
}

ul{
  display: flex;
  justify-content: flex-end;
}

li{
  list-style: none;
  margin: 0 10px;
  padding: 5px;
  background-color: #292847;
  color: #c2c0e9;
  border: 2px solid #8E8BA1;
  cursor: pointer;
}

li:hover,.active{
  color: #292847;
  background-color: #c2c0e9;
}